######################################
# Main PTF Configuration file
######################################
#
### This is the base directory where PTF will install the files
BASE_INSTALL_PATH="/pentest"

### Specify the output log file
LOG_PATH="src/logs/ptf.log"

### When using update_all, also update all of your debian/ubuntu modules
AUTO_UPDATE="ON"

### This will ignore modules and not install them - everything is comma separated and based on name - example: modules/exploitation/metasploit,modules/exploitation/set or entire module categories, like modules/code-audit/*,/modules/reporting/*
IGNORE_THESE_MODULES=""
