######################################
# Main PTF Configuration file
######################################
#
### This is the base directory where PTF will install the files
BASE_INSTALL_PATH="/pentest"

### Place tools in organizational directories (e.g. exploitation, intelligence-gathering, etc). If set to "False", all tools will be installed in the BASE_INSTALL_PATH
USE_DIRECTORY_ORGANIZATION="True"

### Specify the output log file
LOG_PATH="src/logs/ptf.log"

### When using update_all, also update all of your debian/ubuntu modules
AUTO_UPDATE="ON"

### This will ignore modules and not install them - everything is comma separated and based on name - example: modules/exploitation/metasploit,modules/exploitation/set or entire module categories, like /modules/code-audit/*,/modules/reporting/*
IGNORE_THESE_MODULES=""

### This will only install specific modules that are specified here - example: modules/exploitation/metasploit,modules/exploitation/set. You can also do entire directories by doing /modules/code-audit/*
INCLUDE_ONLY_THESE_MODULES=""

### Ignore these modules when installing install_update_all by default. These are usually applications that are either large in nature, open ports, or install things (like TOR). This will only be an issue when you run install_update_all, you can still install these manually.
IGNORE_UPDATE_ALL_MODULES="modules/pivoting/iodine,modules/exploitation/kingphisher,modules/av-bypass/veil-framework,modules/av-bypass/shellter,modules/exploitation/fuzzbunch,modules/wireless/ghost-phisher,modules/exploitation/davtest,modules/exploitation/fuzzbunch.py,modules/exploitation/davtest"
